.transactionHistory {
  table-layout: fixed;
  min-width: fit-content;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.tableHead {
  color: white;
  background-color: deepskyblue;
}

th,
td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: aliceblue;
}

tbody tr:nth-child(even) {
  background-color: rgba(87, 212, 237, 0.53);
}
